extends layout/default

block scripts

append content
  .ui.button.medium Medium

  p

  a.ui.button.medium Medium

  p

  button.ui.button.medium Medium

  p

  .ui.button.medium.compact Compact

  p

  a.ui.button.medium.compact Compact

  p

  button.ui.button.medium.compact Compact
